<h4 class="main-header">
    ember-cli-chosen allows you to use the popular <a href="http://harvesthq.github.io/chosen/">Chosen jQuery plugin</a> in your ember-cli application.
</h4>

<p>For complete documentation on ember-cli-chosen, check out the readme at the
    <a href="https://github.com/green-arrow/ember-cli-chosen">Github Repo</a>
</p>

<h4>Setup</h4>

<p>Assume the following setup for our index controller</p>

{{eg-code-highlight code=controllerSetupCode language='javascript'}}

<h4>Standard Select</h4>

{{#ember-chosen value=singleSelectValue}}
    <option></option>
  {{#each countries as |country|}}
    <option {{bind-attr value=country.code}}>{{country.name}}</option>
  {{/each}}
{{/ember-chosen}}

<p>Selected value: {{singleSelectValue}}</p>

<div class="accordion">
    <section class="active">
        <h4>Code</h4>
        <article style="display: block;">
          {{eg-code-highlight code=standardSelectCode language='hbs'}}
        </article>
    </section>
</div>

<h4>Multiple Select</h4>

{{#ember-chosen multiple=true value=multipleSelectValue}}
    <option></option>
    {{#each countries as |country|}}
        <option {{bind-attr value=country.code}}>{{country.name}}</option>
    {{/each}}
{{/ember-chosen}}

<p>
    Selected values:
    <ul>
      {{#each multipleSelectValue as |value|}}
        <li>{{value}}</li>
      {{/each}}
    </ul>
</p>

<div class="accordion">
    <section class="active">
        <h4>Code</h4>
        <article style="display: block;">
          {{eg-code-highlight code=multipleSelectCode language='hbs'}}
        </article>
    </section>
</div>

<h4>Grouping</h4>

{{#ember-chosen value=optgroupSelectValue}}
    <option value=""></option>
    <optgroup label="NFC EAST">
        <option>Dallas Cowboys</option>
        <option>New York Giants</option>
        <option>Philadelphia Eagles</option>
        <option>Washington Redskins</option>
    </optgroup>
    <optgroup label="NFC NORTH">
        <option>Chicago Bears</option>
        <option>Detroit Lions</option>
        <option>Green Bay Packers</option>
        <option>Minnesota Vikings</option>
    </optgroup>
    <optgroup label="NFC SOUTH">
        <option>Atlanta Falcons</option>
        <option>Carolina Panthers</option>
        <option>New Orleans Saints</option>
        <option>Tampa Bay Buccaneers</option>
    </optgroup>
    <optgroup label="NFC WEST">
        <option>Arizona Cardinals</option>
        <option>St. Louis Rams</option>
        <option>San Francisco 49ers</option>
        <option>Seattle Seahawks</option>
    </optgroup>
    <optgroup label="AFC EAST">
        <option>Buffalo Bills</option>
        <option>Miami Dolphins</option>
        <option>New England Patriots</option>
        <option>New York Jets</option>
    </optgroup>
    <optgroup label="AFC NORTH">
        <option>Baltimore Ravens</option>
        <option>Cincinnati Bengals</option>
        <option>Cleveland Browns</option>
        <option>Pittsburgh Steelers</option>
    </optgroup>
    <optgroup label="AFC SOUTH">
        <option>Houston Texans</option>
        <option>Indianapolis Colts</option>
        <option>Jacksonville Jaguars</option>
        <option>Tennessee Titans</option>
    </optgroup>
    <optgroup label="AFC WEST">
        <option>Denver Broncos</option>
        <option>Kansas City Chiefs</option>
        <option>Oakland Raiders</option>
        <option>San Diego Chargers</option>
    </optgroup>
{{/ember-chosen}}

<p>Selected value: {{optgroupSelectValue}}</p>

<div class="accordion">
    <section class="active">
        <h4>Code</h4>
        <article style="display: block;">
          {{eg-code-highlight code=optgroupSelectCode language='hbs'}}
        </article>
    </section>
</div>

<h3>Actions</h3>

<h4>Using selectionDidChange</h4>

{{#ember-chosen selectionDidChange="onSelectionChanged"}}
    <option></option>
    {{#each countries as |country|}}
        <option {{bind-attr value=country.code}}>{{country.name}}</option>
    {{/each}}
{{/ember-chosen}}

<p>Message: {{actionMessage}}</p>

<div class="accordion">
    <section class="active">
        <h4>Code - Markup</h4>
        <article style="display: block;">
          {{eg-code-highlight code=actionSelectCode language='hbs'}}
        </article>
    </section>
</div>

<div class="accordion">
    <section class="active">
        <h4>Code - Controller</h4>
        <article style="display: block;">
          {{eg-code-highlight code=actionSelectControllerCode language='javascript'}}
        </article>
    </section>
</div>
